.container{
    font-size: 14px;
}
.container .form {
    width: 97%;
    margin: 10px auto;
    box-shadow: 0px 1px 10px 2px #eaeaea;
    border-radius: 5px;
}

.container .form .fItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 3%;
    border-bottom: 1px solid #eaeaea;
}
.container .form .fItem:nth-last-child(1){
    border-bottom: none;
}
.container .form .fItem input{
    border: none;
}
.container .handleSubmit{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4694ff;
    color: #fff;
    text-align: center;
    padding: 3% 0;
}